{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
<h2 class="date">
{{ if (gt .Params.date 0) }} {{ .Date.Format "2006/01/02" }} {{ end }}
{{ if .Site.Params.busuanzi.enable -}}
&nbsp
<span id="busuanzi_container_page_pv"><span id="busuanzi_value_page_pv"></span>次阅读量</span>
{{- end }}
</h2>
</div>

<main>
{{ .Content }}
</main>
<hr/>
{{ template "_internal/disqus.html" . }}
{{ partial "footer.html" . }}
